@import url('https://fonts.googleapis.com/css?family=Megrim|Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Neucha');
@import url('https://fonts.googleapis.com/css?family=Megrim');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    overflow: hidden;

    text-decoration: none;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.pixel {
    display: inline-block;
}

.pixel:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

body {
    display: flex;

    width: 100vw;
    height: 100vh;

    flex-flow: row wrap;
}

.panelcover {
    display: inline-block;
    position: absolute;

    width: 31vw;
    height: 100vh;

    background-color: rgba(255, 255, 255, .5);
    z-index: 1;
    
    transition: transform 1s ease-in-out 0s;
    
    pointer-events: none;
}

#panelcover1 {
    transform: skew(2deg, 0);
}

#panelcover2 {
    transform: skew(-4deg, 0);
}

#panelcover3 {
    transform: skew(8deg, 0);
}

#panel {
    display: flex;
    position: absolute;

    width: 30vw;
    height: 100vh;

    flex-flow: column nowrap;
    align-items: center;

    background-color: white;

    z-index: 1;
}

#profilimage {
    display: flex;

    width: 100%;
    height: auto;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#separator {
    display: inline-block;

    width: 100%;
    height: 1%;

    background-color: #5f005f;
}

#name {
    display: inline-block;

    width: 25vw;
    height: auto;
    
    margin-top: 5vh;

    font-size: 3vw;
    font-family: 'Poiret One';
    text-align: center;
}

#container_statut {
    display: flex;

    width: 100%;
    height: auto;
    
    padding-left: 5.3vw;
}

#statut {
    display: inline-block;

    font-size: 1.75vw;
    font-family: 'Poiret One';
    text-align: center;
}

#container_statut svg {
    display: inline-block;

    width: auto;
    height: auto;

    margin-right: 15px;
}

#container_bio {
    display: flex;

    width: 25vw;
    height: auto;

    margin-top: 15%;

    justify-content: center;
    align-items: center;
}

#bio {
    display: inline-block;

    width: 90%;
    height: auto;

    font-size: 1.5em;
    font-family: 'Neucha';
    text-align: justify;
}

#panelfooter {
    display: flex;

    width: 100%;
    height: 7.5vh;

    margin-top: auto;
    margin-bottom: 1%;

    flex-flow: row nowrap;

    justify-content: center;
    align-content: center;
}

#panelfooter div {
    display: flex;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: flex-end;
}

#panelfooter div:hover svg {
    margin-bottom: 5%;
}

#panelfooter svg {
    display: inline-block;

    width: 70%;
    height: 70%;

    transition: all .3s ease-in-out 0s;
}

#panelfooter svg:hover {
    width: 90%;
    height: 90%;
}

#me {
    display: none;
    position: absolute;

    width: auto;
    max-width: 50vw;
    height: auto;

    padding: 1%;

    margin-left: 40vw;
    margin-top: 15vh;

    font-size: 5vw;
    font-family: 'Poiret One';
    color: white;

    background-color: rgba(0, 0, 0, 0);
    
    pointer-events: none;
}

@keyframes Iam {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.25);
    }
}

#typed {
    color: #ff80f0;
    font-weight: bolder;
    
    pointer-events: none;
}

#buttons {
    display: flex;
    position: absolute;

    bottom: 0;

    width: 70vw;
    height: auto;

    margin-left: 30vw;
    margin-bottom: 25vh;

    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
    pointer-events: none;
}

#buttons a {
    display: flex;

    width: 25%;
    height: 100px;

    margin: 0 5vw;

    justify-content: center;
    align-content: center;

    font-size: 5vw;
    font-family: 'Poiret One';
    color: white;

    transition: box-shadow .3s ease-in-out 0s;
    
    pointer-events:auto;
}

#buttons a:hover {
    -moz-box-shadow: inset 0px -5px 0px 0px white;
    -webkit-box-shadow: inset 0px -5px 0px 0px white;
    -o-box-shadow: inset 0px -5px 0px 0px white;
    box-shadow: inset 0px -5px 0px 0px white;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=0);
}

#buttons a:first-child {
    background-color: rgba(0, 111, 9, 0.75);
}

#buttons a:last-child {
    background-color: rgba(7, 0, 190, 0.75);
}

#buttons p {
    display: flex;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

    font-size: 3vw;
    text-transform: uppercase;
}

#overlay {
    display: inline-block;
    position: fixed;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, .5);

    z-index: -99;
}

/*VIDEO BACKGROUND PROPERTIES*/

#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../path) no-repeat;
    background-size: cover;
}