/*
##################################################
MAIN PROPERTIES
##################################################
*/
@import url('https://fonts.googleapis.com/css?family=Megrim|Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Neucha');
@import url('https://fonts.googleapis.com/css?family=Megrim');

@font-face {
  font-family: advancedDotDigital;
  src: url(../fonts/advanced_dot_digital-7.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  align-items: center;
  cursor: pointer;
}

header img {
  height: 7.5vw;
}

header p {
  margin-left: 15px;
  font-size: 1vw;
  font-family: advancedDotDigital;
  text-transform: uppercase;
}

body {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}

main {
  display: flex;
  width: auto;
  height: auto;
  padding: 25px;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/*
##################################################
MAIN PAGE
##################################################
*/
/*
##################################################
HOME BACKGROUND STYLES
##################################################
*/
.home__style {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 50vw;
  max-height: 75vh;
  transform: translate(100px);
  animation-name: home_background_style;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transition: opacity 1s ease-in-out 0s;
}

.home__style_1 {
  width: 25vw;
  /* background-color: red; */
  z-index: 10;
}

.home__style_2 {
  width: 50vw;
  /* background-color: red; */
  z-index: 9;
}

.home__style_3 {
  width: 50vw;
  /* background-color: red; */
  z-index: 8;
}

.home__style_4 {
  height: 50vh;
  width: 50vh;
  /* background-color: red; */
  z-index: 7;
}

.home__style_5 {
  width: 50vw;
  /* background-color: blue; */
  z-index: 6;
}

@keyframes home_background_style {
  from {
    transform: translate(100px);
  }

  50% {
    transform: translate(50px);
  }

  to {
    transform: translate(100px);
  }
}

/*
##################################################
PROFIL
##################################################
*/
.profil__image {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin-top: 25vh;
  border-radius: 50%;
  border: 10px solid white;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .25);
  background-image: url(../img/me.jpg);
  background-position: 85% 25%;
  background-size: 130%;
  transition: box-shadow .3s ease-in-out 0s;
}

.profil__image:hover {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, .5);
}

.profil__name {
  margin-top: 3vh;
  font-size: 2.5em;
  font-family: "Poiret One";
}

.profil__desc {
  height: auto;
  padding: 2.5px;
  font-size: 1.5em;
  font-family: "Pacifico";
  font-weight: lighter;
  color: rgb(91, 91, 91);
}

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 25vw;
  height: 100px;
  z-index: 100;
}

.network__icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.network__icon img {
  display: inline-block;
  width: auto;
  height: 55%;
  cursor: pointer;
  transition: height .1s ease-in-out;
}

.network__icon img:hover {
  height: 57.5%;
}

#status {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: auto;
  height: 20vh;
  margin-left: 50px;
  /* border: 1px solid black; */
  /* justify-content: center; */
  align-items: center;
  /* background-color: blue; */
}

.status__container {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  /* border: 1px solid blue; */
}

.status__container--left {
  align-items: center;
  width: 20%;
}

.status__container--right {
  width: 80%;
}

.status__line {
  position: absolute;
  height: 100%;
  width: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 20px 20px 0 0;
}

.status__image {
  margin-top: 25px;
  height: 75px;
  padding: 15px;
  background-color: white;
  z-index: 2;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.status__title {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 32.5px;
  padding: 15px;
}

.status__desc {
  text-transform: none;
  font-weight: lighter;
}